/* mobile*/

.cards a {
  color: rgb(63, 65, 67);
  text-decoration: none; 
}



.cards-grid {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 columns on mobile */
    gap: 5px; /* spacing between cards */

    
  }

  .cards {
    border: 1px solid #669999;
    border-radius: 4px;
    padding: 5px;
    margin-bottom: 5px;
    background-color: #dfdfd3;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .cards h2 {
    font-size: 18px;
    margin-bottom: 8px;
  }
  
  .cards img {
    width: 100%;
    max-height: 200px;
    object-fit: cover;
    margin-bottom: 8px;
  }
  
  .cards p {
    font-size: 16px;
    margin-bottom: 8px;
  }
   /* tablet */
  @media (min-width: 668px) and (max-width: 1060px) {
    .cards-grid {
      grid-template-columns: repeat(3, 1fr);
      margin-left: 100px;
      margin-right: 100px;
      gap: 10px
    }
    .cards {
      border: 1px solid #669999;
      border-radius: 4px;
      padding: 5px;
      margin: 5px;
      background-color: #dfdfd3;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  }

    /* desktop */
  @media (min-width: 1061px) {
    .cards-grid {
      grid-template-columns: repeat(4, 1fr);
      margin-left: 150px;
      margin-right: 150px;
      gap: 10px
    }

    .cards {
      border: 1px solid #669999;
      border-radius: 4px;
      padding: 15px;
      margin: 15px;
      background-color: #dfdfd3;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  }
  

  