.footer {
    padding: 20px;
    color: white;
    
  }
  
  .footer-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .logo {
    display: flex;
    height: 50px;
  }
  
  .logo-text {
    font-size: 1.2rem;
    display: flex;
    text-align: center;
    
  }

  .footer-container {
    margin: 0;
    display: flex;
    flex-direction: column;
  }
  
  .footer-container ul {
    list-style: none;
    padding: 5px;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 20px;
    margin-top: 20px;
    
    
    
  }
  
  .footer-container li {
    margin-bottom: 10px;
    padding: 5px;
  }
  
  .footer-container a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
  }
  
  .social-icons-container img {
    width: 40px;
    margin-left: 25px;
    background-color: white;
    border-radius: 10px;
    
    }

    .contact-me img {
      width: 35px;
      margin-left: 5px;
      background-color: white;
      border-radius: 5px;
    }

  h2 {
    font-size: 1.2rem;
    margin-bottom: 50px;
  }

  .contact-me {
    display: flex;
    flex-direction: row;
  }

  h3 {
    margin-top: 15px;
  }

  .contact-me ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
 
  @media (min-width: 1061px) {
    .footer-container ul {
      flex-direction: row;
      flex-wrap: wrap;
    }
    .footer-container li {
      margin-right: 20px;
    }
  }