@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
:root {
  --status-bar-background-color: rgba(171, 198, 188, 0.4);
  --body-background-color: rgb(245, 245, 243);
}


body {
  margin: 0;
  font-family:'Times New Roman', Times, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: 3px;
  background-color: var(--body-background-color);
}
.status-bar {
  background-color: var(--status-bar-background-color);
}

code {
  font-family:'Times New Roman', Times, serif
}
