/* mobile */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
  height: 50px;
  background-color: #CD7CB1;
}

.links-container {
  display: none;
}

.navbar-scroll {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.cart-container {
  margin-right: 10px;
}

.cart-icon-link {
  position: relative;
}

.cart-icon {
  width: 40px;
  height: 40px;
}

.cart-item-count {
  position: absolute;
  top: -8px;
  right: -8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  background-color: black;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  border-radius: 50%;
}

.navbar-links {
  display: none;
}
.navbar-links-open {
  display: flex;
  list-style: none;
  flex-direction: column;
  position: absolute;
  top: 80px;
  right: 0;
  height: 300px;
  background-color:#EDD2E4;
  padding-top: 30px;
  padding-left: 0;
  align-items: center;
  width: 40%;
  z-index: 100;
  
}

.navbar-hamburger-menu {
  display: block;
  cursor: pointer;
  margin-left: auto;
  z-index: 101;
  margin-right: 15px;
}

.navbar-hamburger-menu span {
  display: block;
  width: 30px;
  height: 5px;
  margin-bottom: 5px;
  background-color: #E3F7FC;
  z-index: 105;
}
  
  .navbar-links-open li {
    margin-right: 0;
    margin-bottom: 10px;
    text-align: right;
  }
  .navbar-links li:last-child {
    margin-bottom: 0;
  }

  .navbar-links-open a {
    color:#CD7CB1;
    font-size: 1.2em; /* Increase the font size for better readability */
  }


    /* desktop */
    @media (min-width: 668px) {

      .navbar {
        height: 100px;
      }

      .navbar-logo img {
        display: flex;
        height: 50px;
      }
      
      .navbar-links {
        display: none;
      }
      
      .navbar-links li {
        margin-right: 20px;
      }
      
      .navbar-links li:last-child {
        margin-right: 0;
      }
      
      .navbar-links a {
        text-decoration: none;
        color: #E3F7FC;
      }
      
      .navbar-hamburger-menu {
        display: none;
      }

      .links-container {
        display: flex;
        margin-right: 50px;
        gap: 50px;
      }
      .link-item {
        color: #fff;
      }
      .cart-icon {
        margin-left: 40px;
      }
    }