/* navbar.css */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
  height: 100px;
  background-color:#CD7CB1;

  .menu-item {
    display: block;
    padding: 10px;
    background-color: #CD7CB1;
    color: white;
    text-decoration: none;
  }
  
  .menu-item:hover {
    background-color: #A63D87;
  }
  ;
}

.navbar-scroll {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.cart-container {
  margin-right: 10px;
}

.cart-icon-link {
  position: relative;
}

.cart-icon {
  width: 40px;
  height: 40px;
}

.cart-item-count {
  position: absolute;
  top: -8px;
  right: -8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  background-color: #ff0000;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  border-radius: 50%;
}

.links-container {
  display: flex;
  justify-content: flex-end;
}

.link-item {
  margin-right: 10px;
  text-decoration: none;
  color: #000;
}

/* navbar.css */

.menu-item {
  display: block;
  padding: 10px;
  background-color: #CD7CB1;
  color: white;
  text-decoration: none;
}

.menu-item:hover {
  background-color: #A63D87;
}


/* Hamburger Menu */
.hamburger-menu {
  display: none; /* Hide the default hamburger menu */
}

/* Custom styles for the hamburger menu button */
.hamburger-menu-icon {
  width: 32px;
  height: 24px;
  cursor: pointer;
}

/* Add more CSS styling as needed */
